.image {
    width: 260px;
    height: 250px;
}
.card{
    width: 260px;
    height: 400px;
    box-shadow: 1px 4px 3px lightgray;
    border-radius: 10px;
    margin: 15px;
}
.card:hover{

    box-shadow: 1px 4px 3px #c3afb3;
    transition: all 0.7s ;
    cursor: pointer;
}
.button{
    background-color: black;
    margin-left: 73px;
    margin-top: -20px;
}