/*!* index.css *!*/

/*!* Sayfanın temel arka plan rengini siyah/koyu yapalım *!*/
/*body {*/
/*    margin: 0;*/
/*    padding: 0;*/
/*    background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%); !* Hafif mavi-siyah geçişi daha hoş durur *!*/
/*    !* Düz siyah istersen üsttekini silip: background-color: #000; yapabilirsin *!*/
/*    min-height: 100vh;*/
/*    overflow-x: hidden; !* Yanlardan taşmayı engeller *!*/
/*}*/

/*!* Yıldız animasyonu: Aşağıdan yukarıya kayma *!*/
/*@keyframes animStar {*/
/*    from {*/
/*        transform: translateY(0px);*/
/*    }*/
/*    to {*/
/*        transform: translateY(-2000px);*/
/*    }*/
/*}*/

/*!* --- YILDIZLAR İÇİN FONKSİYONEL CSS --- *!*/

/*!* Küçük Yıldızlar *!*/
/*#stars {*/
/*    width: 1px;*/
/*    height: 1px;*/
/*    background: transparent;*/
/*    box-shadow: 1745px 122px #FFF, 134px 1321px #FFF, 92px 859px #FFF, 1823px 1289px #FFF,*/
/*    120px 450px #FFF, 900px 120px #FFF, 1500px 600px #FFF, 400px 900px #FFF,*/
/*    300px 1800px #FFF, 800px 200px #FFF, 1100px 1400px #FFF;*/
/*    !* Daha fazla yıldız için bu sayıları rastgele artırabilirsin *!*/
/*    animation: animStar 50s linear infinite;*/
/*    position: fixed; !* Sayfa kaydırılsa bile arka plan sabit kalsın *!*/
/*    top: 0;*/
/*    left: 0;*/
/*    z-index: -1; !* İçeriğin arkasında kalması için *!*/
/*}*/

/*!* İçeriğin arkada kalan yıldızların üstüne gelince görünmesi için *!*/
/*#stars::after {*/
/*    content: " ";*/
/*    position: absolute;*/
/*    top: 2000px;*/
/*    width: 1px;*/
/*    height: 1px;*/
/*    background: transparent;*/
/*    box-shadow: 1745px 122px #FFF, 134px 1321px #FFF, 92px 859px #FFF, 1823px 1289px #FFF,*/
/*    120px 450px #FFF, 900px 120px #FFF, 1500px 600px #FFF, 400px 900px #FFF,*/
/*    300px 1800px #FFF, 800px 200px #FFF, 1100px 1400px #FFF;*/
/*}*/

/*!* Orta Boy Yıldızlar *!*/
/*#stars2 {*/
/*    width: 2px;*/
/*    height: 2px;*/
/*    background: transparent;*/
/*    box-shadow: 800px 400px #FFF, 1200px 900px #FFF, 400px 1500px #FFF,*/
/*    1600px 200px #FFF, 100px 1800px #FFF, 600px 600px #FFF;*/
/*    animation: animStar 100s linear infinite;*/
/*    position: fixed;*/
/*    top: 0;*/
/*    left: 0;*/
/*    z-index: -1;*/
/*}*/

/*#stars2::after {*/
/*    content: " ";*/
/*    position: absolute;*/
/*    top: 2000px;*/
/*    width: 2px;*/
/*    height: 2px;*/
/*    background: transparent;*/
/*    box-shadow: 800px 400px #FFF, 1200px 900px #FFF, 400px 1500px #FFF,*/
/*    1600px 200px #FFF, 100px 1800px #FFF, 600px 600px #FFF;*/
/*}*/

/*!* Büyük Yıldızlar *!*/
/*#stars3 {*/
/*    width: 3px;*/
/*    height: 3px;*/
/*    background: transparent;*/
/*    box-shadow: 300px 1200px #FFF, 1500px 500px #FFF, 900px 1600px #FFF;*/
/*    animation: animStar 150s linear infinite;*/
/*    position: fixed;*/
/*    top: 0;*/
/*    left: 0;*/
/*    z-index: -1;*/
/*}*/

/*#stars3::after {*/
/*    content: " ";*/
/*    position: absolute;*/
/*    top: 2000px;*/
/*    width: 3px;*/
/*    height: 3px;*/
/*    background: transparent;*/
/*    box-shadow: 300px 1200px #FFF, 1500px 500px #FFF, 900px 1600px #FFF;*/
/*}*/